/* ABOUT COMPANY */



.c-navbar {
    width: 100%;
    height: 100px;
    display: flex;
    
}

.c-navbar-section {
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;    
    white-space: pre-line;  
    text-align: center;
}

.c-navbar-section-slogan {   
    display: flex; 
    font-size: 24px;   
    flex-direction: column;    
}

.c-navbar-section-contacts {
    font-size: 24px;    
    flex-direction: column;         
}

.c-navbar-section img {
    padding-left: 20px;
}

/* NAV BUTTONS */

.c-navbar-buttons {
    display: flex;
    width: 100%;
    height: 75px;        
    justify-content: center;
    
    
}

.c-navbar-button {
    display: flex;
    width: 14.5%;
    height: 75px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;   
    box-sizing: border-box;
    
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: .4s;
}

.c-navbar-button:hover {        
    box-shadow: 1px 5px 5px 1px  ;
    transition: .4s;
}

.active-button {
    border-bottom: 4px solid black;
}
