.c-mob-item-menu {
    width: 80%;
    background-color: grey;
    margin: 0 auto;
    height: 100px;
    display: flex;  
}

.c-first-level-menu {
    display: flex;
    width: 100%;    
}

.c-first-level-menu-button {    
margin-left: 30px;
width: 40px;
transition: .3s;
}

.rotate {
    transition: .3s;
    transform: rotate(-180deg);
}

.c-first-level-menu-paragraph {
    width: 85%;  
    margin-top: 31px;
    font-size: 20px; 
    z-index: 0;
}

.c-second-level-menu-paragraph {
    background-color: rgb(207, 204, 204);
    width: 80%;
    height: 0px;    
    overflow: hidden;
    margin:0 auto;
    border-bottom: 1px solid rgb(82, 82, 82);    
    transition: .5s;  
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.transform { 
   
    height: 50px; 
}



