.c-header-nav {
    display: flex;
    width: 100%;
    z-index: 2;
    height: 52px;
    justify-content: center;
    background-color: #fff;    
    box-shadow: 0 2px 5px 0 grey;
}
.c-header-nav-section {
    display: flex;    
    width: 33.3%;    
}

/* BUTTON  */

.c-header-menu-btn {
    display: block;
    width: 100%;
    position: relative;      
    transition: .1s;    
}

.c-header-menu-btn span,
.c-header-menu-btn span::before,
.c-header-menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;   
}

.c-header-menu-btn span::before, 
.c-header-menu-btn span::after {
    display: block;
    content: '';
    transition: .1s;
}
.c-header-menu-btn span::before {
    transform: translateY(7px);
  }
.c-header-menu-btn span::after {
    transform: translateY(-7px);
  } 
.active span:before { 
    transform: rotate(-45deg);
}
.active span:after { 
    transform: rotate(45deg);    
}
.active span {   
    height: 0;
    transition: 0.5s
}

.c-header-nav-logo {
    font-weight: 800;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    color: red;
}

.c-header-nav-purchases {
    margin: 0 auto;
}

/* NAV MENU  */

.c-header-nav-menu {
    z-index: auto;
    width: 100%;
    height: 100vh;    
    position: absolute;
    top: -100vh;
    background: linear-gradient(360deg, #929292 0%, #FFFFFF 99.99%, rgba(146, 146, 146, 0) 100%);
    box-sizing: border-box;    
    transition: .5s;
}

.c-header-nav-menu-active {
    top: 7vh;   
    transition: .5s;
    z-index:  1;
}

.c-header-nav-menu-wrapper {
    width: 90%;
    float: right;
}

.c-header-nav-menu-paragraph {
    height: 60px;
    font-size: 28px;
    width: 100%;
    border-bottom: 1px solid rgb(160, 158, 158);
    display: flex;
    align-items: center;
}

/* CONTENT */

.c-content {
    z-index: auto;    
    text-align: center;
    white-space: pre-line;    
}

.c-content-box {
    width: 85%;    
    font-size: 11.5px;
    margin: 0 auto;
    text-align: left;
}

